<link rel="stylesheet" href="/css/headerStyle.css">
</head>
<body>
    
    <div class="container-fluid">
        <!-- Barra navegacion-->
        <nav class="navbar navbar-custom navbar-expand-md " id="NavVar">
            <div class="container-fluid contenedor-hed">
                <img src="https://vianco.uaemex.mx/wp-content/uploads/2020/05/Vianco-logo.png" alt=""
                    class="logoPrincipal">
                <button type="button" class="navbar navbar-toggler col-sm-4" data-bs-toggle="collapse"
                    data-bs-target="#MenuNavegacion">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="MenuNavegacion" class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav ms-5 ">
                        <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
                        <li class="nav-item"><a class="nav-link" href="/AcercaDe">ACERCA DE</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown">MODIFICACIONES</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Personas" class="dropdown-item">PERSONAS</a></li>
                                <li><a href="/Alumnos" class="dropdown-item">ALUMNOS</a></li>
                                <li><a href="/Coordinadores" class="dropdown-item">COORDINADORES</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown">FORMATOS</a>
                            <ul class="dropdown-menu">
                                <li><a href="/3eraEv" class="dropdown-item">3° Evaluacion</a></li>
                                <li><a href="/5taEv" class="dropdown-item">5° Evaluacion</a></li>
                                <li><a href="/ctaBC" class="dropdown-item">6° Carta de buena conducta</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> <%= data[0].nombres %> <%= data[0].primerApellido %> <%=data[0].segundoApellido %> </a>
                            <ul class="dropdown-menu dropdown-menu-end">

                                <li class="ImagenLogo"><a href="#" class="dropdown-item"><img
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/800px-User_icon_2.svg.png"
                                            height="80px" alt=""></a></li>
                                <li><a href="/AjustesUser" class="dropdown-item">Ajustes</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>


        </nav>
    </div>